<div class="main">
<h2>Manage Instances</h2>
	<section class="manage-orders">
		<div class="filter-orders">
			<fieldset>
				<legend>Filter instances</legend>
				<form name="form" ng-model="filterOrders" class="ng-model: filterOrders">
					<dl>
						<dt>Instances status:</dt>
						<dd>
							<input type="radio" ng-model="search.status" name="orderStatus" value="new" id="newOrder" class="new-order" />
							<label for="newOrder">New</label>
							<input type="radio" ng-model="search.status" name="orderStatus" value="created" id="acceptedOrder" class="accept-order" />
							<label for="acceptedOrder">Created</label>
							<input type="radio" ng-model="search.status" name="orderStatus" value="served" id="packedOrder" class="packed-order" />
							<label for="packedOrder">Served</label>
							<input type="radio" ng-model="search.status" name="orderStatus" value="removed" id="canceledOrder" class="canceled-order" />
							<label for="canceledOrder">Removed</label>
						</dd>
					</dl>
					<dl>
						<dt>Expected srv date:</dt>
						<dd>
							<input type="text" name="shipDate" id="shipDate" class="ship-date" ng-model="datepicker.date" data-date-format="yyyy-mm-dd" bs-datepicker />
						</dd>
					</dl>
					<dl>
						<dt>Expected srv time:</dt>
						<dd>
							<input type="text" ng-model="search.time" name="shipTime" id="shipTime" class="ship-time" /><span>e.g. 17:00</span>
						</dd>
					</dl>
					<dl>
						<dt>Multi/Single cores:</dt>
						<dd>
						<input type="radio" ng-model="search.item" name="itemType" value="multi" id="multiType" class="multi-type" />
						<label for="multiType">Multi</label>
						<input type="radio" ng-model="search.item" name="itemType" value="single" id="singleType" class="single-type" />
						<label for="singleType">Single</label>
						<input type="radio" ng-model="search.item" name="itemType" value="both" id="bothType" class="both-type" />
						<label for="bothType">Both</label>
						</dd>
					</dl>
					<dl>
						<dt>Type:</dt>
						<dd>
						<input type="radio" ng-model="search.sioc" name="sioc" value="inside" id="sioc" class="sioc" />
						<label for="sioc">Inside</label>
						<input type="radio" ng-model="search.sioc" name="sioc" value="outside" id="nonSioc" class="non-sioc" />
						<label for="nonSioc">Outside</label>
						<input type="radio" ng-model="search.sioc" name="sioc" value="both" id="both" class="both" />
						<label for="both">Both</label>
						</dd>
					</dl>
					<dl>
						<dt>Fast Track:</dt>
						<dd>
						<input type="checkbox" ng-model="search.track" name="fastTrack" id="fastTrack" class="fast-track" />
						</dd>
					</dl>
					<dl>
						<dt>&nbsp;</dt>
						<dd><button value="Filter Orders" ng-click="filter()">Filter Instances</button></dd>
					</dl>
				</form>
			</fieldset>
		</div><!--.filter-orders-->
		<div class="create-batch">
			<form name="createBatch">
				<fieldset>
					<legend> Random Number Generator Device virtio</legend>
					<p>The libvirt Compute Driver Options for Glance Images. These are properties specific to compute drivers.</p>
					<p>
						<input type="checkbox" name="giftWrap" id="giftWrap" class="gift-wrap" />
						<label for="giftWrap">Min. Disk</label>
					</p>
					<p>
						<input type="checkbox" name="hazmat" id="hazmat" class="hazmat" />
						<label for="hazmat">Min. RAM</label>
					</p>
					<p>
						<label for="batchSize">Inst number:</label>
						<input type="text" name="batchSize" id="batchSize" class="batch-size" placeholder="{{orders.length}}" />
						<button>Create an image</button>
					</p>
				</fieldset>
				<hr align="center">
				<fieldset class="asin-base">
					<legend>Create an image based on existing</legend>
					<p>
						<label for="asin">NO:</label>
						<input type="text" name="asin" id="asin" class="asin" />
						<a href="#" class="use-asin">Use existing images</a>
					</p>
					<p>
						<label for="batchSize">Inst number:</label>
						<input type="text" name="batchSize" id="batchSize" class="batch-size" placeholder="{{orders.length}}" />
						<button>Create an image</button>
					</p>
				</fieldset>
			</form>			
		</div><!--.create-batch-->
	</section>
	<section class="order-list">
		<table>
			<thead>
				<tr>
					<th>Instances status</th>
					<th>Expected srv date</th>
					<th>Expected srv time</th>
					<th>Multi/Single cores</th>
					<th>Type</th>
					<th>Finished</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="order in orders">
					<td>{{order.status}}<ttd>
					<td>{{order.date}}</td>
					<td>{{order.time}}</td>
					<td>{{order.item}}</td>
					<td>{{order.sioc}}</td>
					<td>{{order.track}}</td>
				</tr>
			</tbody>
		</table>
	</section>
</div>