<div class="main">
	<section class="manage-orders">
		<h2>Manage orders</h2>
		<div class="filter-orders">
			<fieldset>
				<lagend>Filter orders</lagend>
				<form name="form" ng-model="filterOrders">
					<dl>
						<dt>Order status:</dt>
						<dd>
							<input type="radio" ng-model="search.status" name="orderStatus" value="new" id="newOrder" class="new-order" />
							<label for="newOrder">New</label>
							<input type="radio" ng-model="search.status" name="orderStatus" value="accepted" id="acceptedOrder" class="accept-order" />
							<label for="acceptedOrder">Accepted</label>
							<input type="radio" ng-model="search.status" name="orderStatus" value="packed" id="packedOrder" class="packed-order" />
							<label for="packedOrder">Packed</label>
							<input type="radio" ng-model="search.status" name="orderStatus" value="canceled" id="canceledOrder" class="canceled-order" />
							<label for="canceledOrder">Canceled</label>
						</dd>
					</dl>
					<dl>
						<dt>Expected ship date:</dt>
						<dd>
							<input type="date" ng-model="search.date" name="shipDate" id="shipDate" class="ship-date" value="2013-03-04" />
						</dd>
					</dl>
					<dl>
						<dt>Expected ship time:</dt>
						<dd>
							<input type="time" ng-model="search.time" name="shipTime" id="shipTime" class="ship-time" /><span>e.g. 17:00</span>
						</dd>
					</dl>
					<dl>
						<dt>Multi/Single items:</dt>
						<dd>
						<input type="radio" ng-model="search.item" name="itemType" value="multi" id="multiType" class="multi-type" />
						<label for="multiType">Multi</label>
						<input type="radio" ng-model="search.item" name="itemType" value="single" id="singleType" class="single-type" />
						<label for="singleType">Single</label>
						<input type="radio" ng-model="search.item" name="itemType" value="both" id="bothType" class="both-type" />
						<label for="bothType">Both</label>
						</dd>
					</dl>
					<dl>
						<dt>SIOC:</dt>
						<dd>
						<input type="radio" ng-model="search.sioc" name="sioc" value="sioc" id="sioc" class="sioc" />
						<label for="sioc">SIOC</label>
						<input type="radio" ng-model="search.sioc" name="sioc" value="non" id="nonSioc" class="non-sioc" />
						<label for="nonSioc">Non-SIOC</label>
						<input type="radio" ng-model="search.sioc" name="sioc" value="both" id="both" class="both" />
						<label for="both">Both</label>
						</dd>
					</dl>
					<dl>
						<dt>Fast Track:</dt>
						<dd>
						<input type="checkbox" ng-model="search.track" name="fastTrack" id="fastTrack" class="fast-track" />
						</dd>
					</dl>
					<dl>
						<dt>&nbsp;</dt>
						<dd><button value="Filter Orders" ng-click="filter()">Filter Orders</button></dd>
					</dl>
				</form>
			</fieldset>
		</div><!--.filter-orders-->
		<div class="create-batch">
			<form>
				<fieldset>
					<lagend>Create a batch based on filters</lagend>
					<p>All filters you used on the left will be applied when you create a batch. You can further refine the selection.</p>
					<p>
						<input type="radio" name="giftWrap" id="giftWrap" class="gift-wrap" />
						<label for="giftWrap">Gift Wrap orders only</label>
					</p>
					<p>
						<input type="radio" name="hazmat" id="hazmat" class="hazmat" />
						<label for="hazmat">Hazmat orders only</label>
					</p>
					<p>
						<label for="batchSize">Batch size:</label>
						<input type="text" name="batchSize" id="batchSize" class="batch-size" placeholder="{{orders.length}}" />
						<button>Create a batch</button>
					</p>
				</fieldset>
				<hr>
				<fieldset>
					<lagend>Create a batch based on filters</lagend>
					<p>
						<label for="asin">Expected ship date:</label>
						<input type="date" name="asin" id="asin" class="asin" />
						<a href="#">Use top ASIN</a>
					</p>
					<p>
						<label for="batchSize">Batch size:</label>
						<input type="text" name="batchSize" id="batchSize" class="batch-size" placeholder="{{orders.length}}" />
						<button>Create a batch</button>
					</p>
				</fieldset>
			</form>			
		</div><!--.create-batch-->
	</section>
	<section class="order-list">
		<table>
			<thead>
				<tr>
					<th>Order status</th>
					<th>Expected ship date</th>
					<th>Expected ship time</th>
					<th>Multi/Single items</th> 
					<th>SIOC</th>
					<th>Fast Track</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="order in orders">
					<td>{{order.status}}<ttd>
					<td>{{order.date}}</td>
					<td>{{order.time}}</td>
					<td>{{order.item}}</td>
					<td>{{order.sioc}}</td>
					<td>{{order.track}}</td>
				</tr>
			</tbody>
		</table>
	</section>
</div>