/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "_normalize"
@import "compass/css3"
@import "compass/utilities"

body
  font-size: 14px
  h2
    margin: 0.5em 0
    color: #555
    font-weight: normal
	
fieldset
  border: none
  legend
    padding-top: 10px
    color: #e26e02
    font-weight: bold
    font-size: 16px
.main
  width: 870px
  margin: 0 auto
  
.manage-orders
  +clearfix
  border: 1px solid #c0c0c0
  input[type="text"]
    padding: 4px 5px
    +border-radius(5px)
    border: 1px solid #aaa
  .filter-orders
    float: left
    position: relative
    width: 480px
    &:after, &:before
      left: 100%
      border: solid transparent
      content: " "
      height: 0
      width: 0
      position: absolute
      pointer-events: none
    &:after
      border-color: rgba(255, 255, 255, 0)
      border-left-color: #ffffff
      border-width: 10px
      top: 50%
      margin-top: -10px
    &:before
      border-color: rgba(204, 204, 204, 0)
      border-left-color: #cccccc
      border-width: 11px
      top: 50%
      margin-top: -11px
    label
      margin-right: 10px
    input[type="text"]
      width: 142px
  button
    padding: 0.3em 1em
    display: inline-block
    cursor: pointer
    +border-radius(5px)
    *zoom: 1
    +background-image(linear-gradient(#87d96a 30%, #65b549 70%, #62b246))
    border: 1px solid #5caa40
    color: #000
    font-weight: bold
		 
  .create-batch
    float: right
    width: 387px
    border-left: 1px solid #ccc
    background: #EFEFEF
    fieldset
      padding-left: 20px
    input
      margin-right: 10px
    input.batch-size
      width: 65px
    hr
      width: 90%
      margin: 0 0 0 20px
      border: 0
      height: 0
      border-top: 1px solid rgba(0, 0, 0, 0.1)
      border-bottom: 1px solid rgba(255, 255, 255, 0.3)
    p
      margin: 0.7em 0
	  
    .asin-base
      p
        margin: 1.1em 0
    button
      +background-image(linear-gradient(#f9f9f9 30%, #eeeeee 70%, #ececec))
      border: 1px solid #dadada
      color: #000
	
  dl
    margin: 1em 0
    dt
      float: left
      width: 125px
      padding-right: 5px
      text-align: right
	  
    .ship-time
      margin-right: 10px
	  
.use-asin
  color: #6a98e1 
	
.order-list
  margin-top: 10px
  border: 1px solid #c0c0c0
  padding: 5px
  margin-bottom: 2em
  table
    $base-color : #eee
    width: 100%
    +alternating-rows-and-columns($base-color, adjust-hue($base-color, -20deg), #111)
    td
      padding: 5px
      text-align: center

#shipDate
  background: url(../img/datepicker.gif) 128px center no-repeat

.dropdown-menu
  background-clip: padding-box
  background-color: #FFFFFF
  border: 1px solid rgba(0, 0, 0, 0.2)
  border-radius: 6px 6px 6px 6px
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
  display: none
  float: left
  left: 0
  list-style: none outside none
  margin: 2px 0 0
  min-width: 160px
  padding: 5px 0
  position: absolute
  top: 100%
  z-index: 1000
.oldie
  .dropdown-menu
    border: 1px solid #c0c0c0

.datepicker
  table
    tr
      td.active
        +background-image(linear-gradient(#E26E02 30%, #E26E02 70%, #E26E02))
        &:hover
          +background-image(linear-gradient(#E26E02 30%, #E26E02 70%, #E26E02))